In [1]:
# Base Data Science snippet
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import time
from tqdm import tqdm_notebook

%matplotlib inline
%load_ext autoreload
%autoreload 2

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

from comet_ml import Experiment

In [2]:
import sys
sys.path.append("../")

from beth import Game,RandomPlayer,HumanPlayer
from beth.move import Move
from beth.board import Board
from beth.ai import TreeSearchAI,StockfishAI
from beth.tree import TreeSearch

# Playground

In [527]:
players = [
#     {"name":n,"elo":np.random.randint(800,2000)} for n in "ABCDEFG"
    {"name":n,"elo":np.random.randint(800,2000)} for n in "ABCDEFGHIJKLMNOPQRSTUVWXY"
] 
print(len(players))
players[:5]

25

[{'name': 'A', 'elo': 1572},
 {'name': 'B', 'elo': 1614},
 {'name': 'C', 'elo': 1757},
 {'name': 'D', 'elo': 803},
 {'name': 'E', 'elo': 1244}]

In [494]:
from beth.pairing.swiss import SwissTournament

In [450]:
path = "SwissTournament1.xlsx"
tour = SwissTournament(path = path)

[INFO] Swiss tournament with 7 players - current round : 3

In [528]:
tour = SwissTournament(players = players)

[INFO] Swiss tournament with 25 players - current round : 1

In [530]:
tour.pair(random_result=True)

score
score
score
score
score
score
score
score
score
score
score
score

    round player1 player2 color  result
0       2       A       I  None     1.0
1       2       S       B  None     0.5
2       2       M       E  None     1.0
3       2       D       L  None     0.0
4       2       T       F  None     0.5
5       2       R       C  None     1.0
6       2       X       J  None     1.0
7       2       Q       K  None     0.5
8       2       O       P  None     0.0
9       2       U       G  None     0.5
10      2       Y       H  None     0.5
11      2       W       N  None     0.5
12      2       V    None  None     1.0

In [525]:
tour.compute_players_scores()

       elo  score
name
A     1202    7.5
B     1561    4.5
C     1873    7.0
D     1488    7.0
E     1845   10.5
F     1729    8.0
G     1097    9.0
H     1626    6.0
I     1186    6.5
J     1042    5.5
K     1597    8.5
L      935    8.5
M     1087   11.0
N     1212   10.0
O     1932    7.5
P     1590    6.5
Q     1275    9.5
R     1454    9.5
S     1179    9.0
T     1122    7.0
U     1806    8.0
V     1329    8.5
W     1906    5.5
X     1198    6.5
Y      908    8.0

In [39]:
tour.players.index[tour.players.index.duplicated()].tolist()

['Adam RODGERS']

In [447]:
tour.get_rounds_with_scores()

   round player1 player2  color  result  elo1  score1    elo2  score2  diff_elo  diff_score
0      1       E       C  white       1  1334     2.0  1995.0     1.0    -661.0         1.0
1      1       F       D  white       1   989     1.0  1357.0     1.0    -368.0         0.0
2      1       B       A  black       1  1033     1.0  1636.0     1.0    -603.0         0.0
3      1       G     NaN    NaN       1  1135     1.0     NaN     NaN       NaN         NaN
4      2       C       B    NaN       1  1995     1.0  1033.0     1.0     962.0         0.0
5      2       A       G    NaN       1  1636     1.0  1135.0     1.0     501.0         0.0
6      2       E       F    NaN       1  1334     2.0   989.0     1.0     345.0         1.0
7      2       D     NaN    NaN       1  1357     1.0     NaN     NaN       NaN         NaN

In [443]:
tour.save(path)

# Eki Tournament

In [3]:
from beth.pairing.swiss import SwissTournament

In [61]:
from beth.pairing.swiss import SwissTournament

path = r"C:\Users\talvesdacosta\Ekimetrics\Ekimetrics. - Eki.Innovation\2. Hackathon\04. ChEKImate 2021"
path = os.path.join(path,"chekimate2021_rounds.xlsx")
tour = SwissTournament(path = path)

[INFO] Swiss tournament with 39 players - current round : 1

In [ ]:
tour.pair()

In [65]:
tour.save(path)